<!-- extend base layout -->
{% extends"bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<link rel="stylesheet" href="/static/style.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script type="text/javascript">
    $(function() {
        $('.filter').click(function() {
            $.ajax({
                url: '/get_past_attempts',
                data: $('form').serialize(),
                type: 'POST',
                dataType: "html",
                success: function(response) {
                    console.log(response)
                    var results = JSON.parse(response)
                    var output = ''
                    $.each(results, function(index, value) {
                        output = output +'<br>' + '<br>' + value.start + '<br>' + value.end
                    });
                    $('#results').html(output); 
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script> 
<div class="container">
<h1>Прошедшие попытки</h1>
<form action="" method="POST" name="test">
   {{ form.hidden_tag() }}
    <p>
        Выберите тест:<br>
        {{ form.test() }}<br>
        Выберите студента:<br>
        {{ form.student() }}<br>
        Выберите дату:<br>
        {{ form.date(class="datepicker") }}
    </p>
    <p>
        <button class="filter" type="button">Отфильтровать</button>
    </p>
</form>
</div>
<hr>
<div class="container">
    <p>Прошедшие попытки:</p>
    <p id="results"></p>
</div>


{% endblock %}